{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block css %}

#main-button {
padding: 27px 30px;
text-align: left;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}


{% endblock %}

{% block content %}
<div class="row" id="main-button">
        <div class="alert alert-primary" role="alert">
        아이디와 비밀번호를 입력해주세요!</div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="login" class ='btn btn-outline-primary btn-lg'>
        </form>
</div>
{% endblock %}