{% extends 'base.html' %}
{% block head %}

<!--<link rel="stylesheet" href="/css/jquery-ui.min.css">-->

<!--<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>-->
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
<script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<!--<script src="/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>-->


<script type='text/javascript'>
    // $(function () {
    //     $('.input-group.date').datepicker({
    //         calendarWeeks: false,
    //         todayHighlight: true,
    //         autoclose: true,
    //         format: "yyyy-mm-dd",
    //         language: "kr",
    //         defalutDate: new Date()
    //     });
    // });


    var activeDeparture;
    var activeArrival;
    var date;

    function applyInfo() {
        $('#departure-label').text(activeDeparture);
        $('#departure_key_input').val(activeDeparture);
        $('#arrival-label').text(activeArrival);
        $('#arrive_key_input').val(activeArrival);

        if (date) {
            $('#date').text((date.getFullYear())+'년 ' + (date.getMonth() + 1) + '월 ' + date.getDate() + '일');
            $('#date_key_input').val($.datepicker.formatDate('yy-mm-dd', date));
        }
    }

    function launchModal(option) {

        $('.place-list-item').off('click').click(function () {
            if (option == 'departure') {
                activeDeparture = $(this).data('place');
            } else if (option == 'arrival') {
                activeArrival = $(this).data('place');
            }
            if ($('#places-modal').is(':visible')) {
                $('#places-modal').modal('hide');
            }
            applyInfo();
        })

        if (option == 'departure') {
            $('#places-modal .modal-title').text('출발지')
        } else if (option == 'arrival') {
            $('#places-modal .modal-title').text('도착지')
        }

        $('#places-modal').modal({
            show: true
        });
    }

     function launchDatePickerModal() {
            $('#datepicker').datepicker();
            $('#date-modal').modal({
                show: true
            });
    }

    function selectDateModal() {
            date = new Date($('#datepicker').datepicker('getFormattedDate'));
            console.log(date);
            $('#date-modal').modal('hide');
            applyInfo();
        }


</script>

{% endblock %}
{% block css %}


.main-button {
background: #ffffff;
padding: 27px 30px;
text-align: left;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
height: 90px;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

.main-button1 {
background: #ffffff;
padding: 15px 30px;
text-align: left;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
height: 90px;
margin: 0px 0px 20px 0px;
font-size: 18px;
transition: background 0.5s;
}

.deliver-date1{
font-size: 20px;
}

#left-check:hover, #right-check:hover, #deliver-date:hover {
    background-color: #A9BCF5;
    cursor:pointer;
}

.check {
background: #ffffff;
padding: 20px 0px;
text-align: center;
width: 40%;
<!--height: 90px;-->
max-width: 300px;
border-radius: 10px;
display: inline-block;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

#left-check {
margin-left:15px;
margin-right:5px;
}

#right-check {
margin-left:5px;
margin-right:15px;
}

#submit {
background: #007bff;
padding: 20px 0px;
text-align: center;
width: 100%;
max-width: 800px;
height: 90px;
border-radius: 10px;
display: inline-block;
margin: auto;
transition: background 0.5s;
}

.time-card>#date, .time-hm-card>#time, .cost-card>#cost {
    margin: 7px;
    float: right;
}

.bottom-main {
font-weight:bold;
padding: 10px 0px;
margin : 50px 0px 10px 0px

}

h5 {
padding: 0px 20px;
}

#down-point{
padding: 0px 0px 10px 0px;
}

#container1{
        height: 100vh;
        position:relative;
    }



#bottom {
    width: 100%;
}

.bottomInfo {
    width: 100%;
    text-align: right;
    bottom: 0px;
    position: absolute;

}


{% endblock %}

{% block content %}

<form action="{% url 'drive:list' %}" method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="places-card col check" id="left-check" onclick="launchModal('departure')">
            <span>출발지</span>
            <h3 id="departure-label">--</h3>
            <input type="hidden" name="departure_key" id="departure_key_input" />
        </div>
        <div class="places-mid-button align-middle">
            <i class="fas fa-arrows-alt-h"></i>
        </div>
        <div class="places-card col check" id="right-check" onclick="launchModal('arrival')">
            <span>도착지</span>
            <h3 id="arrival-label">--</h3>
            <input type="hidden" name="arrive_key" id="arrive_key_input"  />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="deliver-date">
                <div class="time-card"  onclick="launchDatePickerModal()" >
                    <span id="infolabel">출발 날짜</span>
                    <h5 id="date">--</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" id="submit" class="btn btn-primary btn-lg" value="조회하기">
        </div>
    </div>
<!--    <div class="row" style="float:right; padding-top: 5px;">-->
<!--        <h5>장카는 현재까지 <bold>무사고</bold>입니다.</h5>-->
<!--    </div>-->

    <!-- Modal -->
    <div class="modal fade" id="date-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">출발 날짜</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="datepicker" style="width:400px;"></div>
                    <input type="hidden" id="date_key_input" name="date_key">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectDateModal()">선택</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="places-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">지역 선택하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="서울">서울</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경기">경기</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="인천">인천</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="강원">강원</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="대전">대전</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="충남">충남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="충북">충북</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="광주">광주</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="전남">전남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="전북">전북</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="부산">부산</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="대구">대구</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경남">경남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경북">경북</a>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">선택</button>
                </div> -->
            </div>
        </div>
    </div>
</form>

    <div class="row bottom-main"><h3>최근 등록된 장카</h3></div>

<!--    {% for object in object_list %}-->
<!--    <div class="row"><h5>{{ object.departure_area }} - {{ object.arrive_area }} &nbsp&nbsp ({{ object.departure_date|date:"m월 d일" }})</h5></div>-->
<!--            <div class="row main-button1">-->
<!--                <div class="col">-->
<!--                    <div class="row deliver-date1"style='cursor:pointer' onclick="location.href='{% url 'drive:detail' object.id %}';">-->
<!--                        <span id="infolabel10"><a href="{% url 'drive:detail' object.id %}" id="down-point">출발 시각 : {{ object.departure_time }}</a></span></div>-->
<!--                    <div class="row deliver-date1">상세 여정 : {{ object.detail_plan }}</div>-->
<!--                </div>-->
<!--                <div class="col deliver-date1">요금 : {{ object.fee }}</div>-->
<!--            </div>-->
<!--    {% endfor %}-->
<!--    {% for object in object_list %}-->
<!--    <div class="row"><h5>{{ object.departure_area }} - {{ object.arrive_area }} &nbsp&nbsp ({{ object.departure_date|date:"m월 d일" }})</h5></div>-->
<!--    <div class="row main-button1 deliver-date1" style='cursor:pointer' onclick="location.href='{% url 'drive:detail' object.id %}';">-->
<!--        <div class="col">-->
<!--            <div class="row deliver-date1">-->
<!--            <span id="infolabel10"><a href="{% url 'drive:detail' object.id %}" id="down-point">출발 시각 : {{ object.departure_time }}</a></span>-->
<!--            </div>-->
<!--            <div class="row deliver-date1">상세 여정 : {{ object.detail_plan }}</div>-->
<!--        </div>-->
<!--        <div class="col deliver-date1">요금 : {{ object.fee }}</div>-->
<!--    </div>-->
<!--    {% endfor %}-->
    {% for object in object_list %}
    <div class="row"><h5>{{ object.departure_area }} - {{ object.arrive_area }} &nbsp&nbsp ({{ object.departure_date|date:"m월 d일" }})</h5></div>
    <div class="row main-button1 deliver-date1" style='cursor:pointer' onclick="location.href='{% url 'drive:detail' object.id %}';">
        <div class="row deliver-date1">
   <div class="col deliver-date1">
                 <span id="infolabel10"><a href="{% url 'drive:detail' object.id %}" id="down-point">출발 시각 : {{ object.departure_time }}</a></span>
   </div>
            <div class="col deliver-date1">요금 : {{ object.fee }}</div>
        </div>
        <div class="row">
   <div class="col deliver-date1">상세 여정 : {{ object.detail_plan }}</div>
        </div>
    </div>
    {% endfor %}

    <div class="row bottom-main"><h3>고객센터 안내</h3></div>
    <div class="row">
        <div class="col">
            <div class="main-button1">
                    <span>문의 : cs_jangcar@naver.com
            <br>
                     실시간 문의 : 플러스친구 jangcar
                    </span>
            </div>
        </div>
    </div>

{% endblock %}


{% block bottom %}
<!--<p class="bottomInfo">문의 : deaguowl@gmail.com</p>-->
{% endblock %}