{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block css %}

#main-button {
padding: 27px 30px;
text-align: center;
width: 100%;
max-width: 800px;
border-radius: 10px;
display: inline-block;
height: 90px;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

{% endblock %}

{% block content %}

<!--            출발지 : {{object.departure_area}}<br>-->
<!--            도착지 : {{object.arrive_area}}<br>-->
<!--            출발 날짜 : {{ object.departure_data}}<br>-->
<!--            출발 시각 : {{ object.departure_time }}<br>-->
<!--            상세 여정 : {{ object.detail_plan }}<br>-->
<!--            요금 : {{ object.fee }}<br>-->
<!--            연락 방법 : {{ object.connect }}<br>-->
<!--            메모 : {{ object.memo }}<br>-->
<div class="row" id="main-button">
    <ul class="list-group">
<!--        <li class="list-group-item">운전자 : {{ user.username }}</li>-->
        <li class="list-group-item">운전자 : {{ object.user.name }}</li>
        <li class="list-group-item">출발지 : {{object.departure_area}}</li>
        <li class="list-group-item">도착지 : {{object.arrive_area}}</li>
        <li class="list-group-item">출발 날짜 : {{ object.departure_date }}</li>
        <li class="list-group-item">출발 시각 : {{ object.departure_time }}</li>
        <li class="list-group-item">상세 여정 : {{ object.detail_plan }}</li>
        <li class="list-group-item">요금 : {{ object.fee }}</li>
        <li class="list-group-item">연락 방법 : {{ object.connect }}</li>
        <li class="list-group-item">메모 : {{ object.memo }}</li>
        {% if request.user.id == object.user.id %}
        <li class="list-group-item"><a href="{% url 'drive:update' object.id %}">수정하기   </a>      <a href="{% url 'drive:delete' object.id %}">삭제하기</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}