{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block css %}


.main-button1 {
background: #ffffff;
padding: 15px 30px;
text-align: left;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
height: 90px;
margin: 0px 0px 20px 0px;
font-size: 18px;
transition: background 0.5s;
}

.time-card>#date, .time-hm-card>#time, .cost-card>#cost, .detail-plan-card>#detail-plan, .memo-card>#memo {
margin: 7px;
float: right;
}

h2 {
padding: 10px 10px
}

h4 {
padding: 10px 10px
}

.deliver-date1{
font-size: 20px;
}

#left-check:hover, #right-check:hover, #deliver-date:hover {
    background-color: #A9BCF5;
    cursor:pointer;
}

h5{
    padding : 0px 0px 0px 13px;
}

{% endblock %}

{% block content %}

<div class="row"><h2>등록된 장카</h2></div>

<div class="row"><h4>{{ departure }} - {{ arrive }} &nbsp&nbsp {{ date }}</h4></div>

    {% for object in object_list %}
        <div class="row"><h5>{{ object.departure_area }} - {{ object.arrive_area }} &nbsp&nbsp ({{ object.departure_date|date:"m월 d일" }})</h5></div>
    <div class="row main-button1 deliver-date1" style='cursor:pointer' onclick="location.href='{% url 'drive:detail' object.id %}';">
        <div class="row deliver-date1">
   <div class="col deliver-date1">
                 <span id="infolabel10"><a href="{% url 'drive:detail' object.id %}" id="down-point">출발 시각 : {{ object.departure_time }}</a></span>
   </div>
            <div class="col deliver-date1">요금 : {{ object.fee }}</div>
        </div>
        <div class="row">
   <div class="col deliver-date1">상세 여정 : {{ object.detail_plan }}</div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
