{% extends 'base.html' %}
{% block head %}

<!--<link rel="stylesheet" href="/css/jquery-ui.min.css">-->

<!--<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>-->
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
<script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<!--<script src="/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>-->


<script type='text/javascript'>
    // $(function () {
    //     $('.input-group.date').datepicker({
    //         calendarWeeks: false,
    //         todayHighlight: true,
    //         autoclose: true,
    //         format: "yyyy-mm-dd",
    //         language: "kr",
    //         defalutDate: new Date()
    //     });
    // });


    var activeDeparture;
    var activeArrival;
    var date;

    function applyInfo() {
        $('#departure-label').text(activeDeparture);
        $('#departure_key_input').val(activeDeparture);
        $('#arrival-label').text(activeArrival);
        $('#arrive_key_input').val(activeArrival);

        if (date) {
            $('#date').text((date.getFullYear()) + '년 ' + (date.getMonth() + 1) + '월 ' + date.getDate() + '일');
            $('#date_key_input').val($.datepicker.formatDate('yy-mm-dd', date));
        }


    }

    function launchModal(option) {

        $('.place-list-item').off('click').click(function () {
            if (option == 'departure') {
                activeDeparture = $(this).data('place');
            } else if (option == 'arrival') {
                activeArrival = $(this).data('place');
            }
            if ($('#places-modal').is(':visible')) {
                $('#places-modal').modal('hide');
            }
            applyInfo();
        })

        if (option == 'departure') {
            $('#places-modal .modal-title').text('출발지')
        } else if (option == 'arrival') {
            $('#places-modal .modal-title').text('도착지')
        }

        $('#places-modal').modal({
            show: true
        });
    }


    function launchDatePickerModal() {
        $('#datepicker').datepicker();
        $('#date-modal').modal({
            show: true
        });
    }

    function selectDateModal() {
        date = new Date($('#datepicker').datepicker('getFormattedDate'));
        console.log(date);
        $('#date-modal').modal('hide');
        applyInfo();
    }

    function launchTimeHMPickerModal() {
        $('#time-hm-modal').modal({
            show: true
        });
    }

    function selectTimeHM() {
        var value = document.querySelectorAll("input#time-hm")[0].value;
        timeHM = value;
        $('#time-hm-modal').modal('hide');
        if (timeHM) {
            $('h5#time').text(timeHM);
            $('h5#time-hm').val(timeHM);
        }
        ;
    }

    function launchDetailPlanPickerModal() {
        $('#detail-plan-modal').modal({
            show: true
        })
    }

    function selectdetailHM() {
        var value = document.querySelectorAll("input#detail-plan-hm")[0].value;
        detailHM = value;
        $('#detail-plan-modal').modal('hide');
        if (detailHM) {
            $('h5#detail-plan').text(detailHM);
            $('h5#detail-plan-hm').val(detailHM);
        }
        ;
    }

    function launchCostModal() {
        $("#cost-modal").modal({
            show: true
        })
    }

    function selectCostModal() {
        var value = document.querySelectorAll("input#cost-hm")[0].value;
        costHM = value;
        $('#cost-modal').modal('hide');
        if (costHM) {
            $('h5#cost').text(costHM);
            $('h5#cost-hm').val(costHM);
        }
        ;
    }

    function launchMemoModal() {
        $("#memo-modal").modal({
            show: true
        })
    }

    function selectMemoModal() {
        var value = document.querySelectorAll("input#memo-hm")[0].value;
        memoHM = value;
        $('#memo-modal').modal('hide');
        if (memoHM) {
            $('h5#memo').text(memoHM);
            $('h5#memo-hm').val(memoHM);
        }
        ;
    }

</script>

{% endblock %}
{% block css %}

.main-button {
background: #ffffff;
padding: 27px 30px;
text-align: left;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

.check {
background: #ffffff;
padding: 20px 0px;
text-align: center;
width: 40%;
<!--height: 90px;-->
max-width: 300px;
border-radius: 10px;
display: inline-block;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

#left-check {
margin-left:15px;
margin-right:5px;
}

#right-check {
margin-left:5px;
margin-right:15px;
}

#submit {
background: #007bff;
padding: 20px 0px;
text-align: center;
width: 100%;
max-width: 800px;
height: 90px;
border-radius: 10px;
display: inline-block;
<!--margin: 0px 10px;-->
margin: auto;
transition: background 0.5s;
}

#submit-cancel {
background: #007bff;
padding: 20px 0px;
text-align: center;
width: 100%;
max-width: 800px;
height: 90px;
border-radius: 10px;
display: inline-block;
<!--margin: 0px 10px;-->
margin: auto;
transition: background 0.5s;
}

#left-check:hover, #right-check:hover, #deliver-date:hover, #deliver-time:hover, #detail-plan-hover:hover, #fee-hover:hover, #memo-hover:hover {
background-color: #A9BCF5;
cursor:pointer;
}

.time-card>#date, .time-hm-card>#time, .cost-card>#cost, .detail-plan-card>#detail-plan, .memo-card>#memo {
margin: 7px;
float: right;
}

{% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tag}}" style="text-align:center;">{{message}}</div>
        {% endfor %}
        {% endif %}
    <div class="row">

        <div class="places-card col check" id="left-check" onclick="launchModal('departure')">
            <span>출발지</span>
            <h3 id="departure-label">--</h3>
            <input type="hidden" name="departure_area" id="departure_key_input"/>
        </div>
        <div class="places-mid-button align-middle">
            <i class="fas fa-arrows-alt-h"></i>
        </div>
        <div class="places-card col check" id="right-check" onclick="launchModal('arrival')">
            <span>도착지</span>
            <h3 id="arrival-label">--</h3>
            <input type="hidden" name="arrive_area" id="arrive_key_input"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="deliver-date">
                <div class="time-card" onclick="launchDatePickerModal()">
                    <span id="infolabel">출발 날짜</span>
                    <h5 id="date">--</h5>
                    <!--                    <input type="hidden" id="date_key_input" name="departure_date" />-->
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="deliver-time">
                <div class="time-hm-card" onclick="launchTimeHMPickerModal()">
                    <span id="infolabel2">출발 시간</span>
                    <h5 id="time">--</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="detail-plan-hover">
                <div class="detail-plan-card" onclick="launchDetailPlanPickerModal()">
                    <span id="infolabel3">상세 출발지 및 도착지</span>
                    <h5 id="detail-plan">--</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="fee-hover">
                <div class="cost-card" onclick="launchCostModal()">
                    <span id="infolabel4">요금</span>
                    <h5 id="cost">--</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="main-button" id="memo-hover">
                <div class="memo-card" onclick="launchMemoModal()">
                    <span id="infolabel5">여정 소개</span>
                    <h5 id="memo">--</h5>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
            <input type="submit" id="submit" class="btn btn-primary btn-lg" value="추가하기">
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <input type="submit" id="submit-cancel" class="btn btn-primary btn-lg" value="로그인 이후 이용해주세요!">
        </div>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="date-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">출발 날짜</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="datepicker" style="width:400px;"></div>
                    <input type="hidden" id="date_key_input" name="departure_date">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectDateModal()">선택</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="places-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">지역 선택하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="서울">서울</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경기">경기</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="인천">인천</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="강원">강원</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="대전">대전</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="충남">충남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="충북">충북</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="광주">광주</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="전남">전남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="전북">전북</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="부산">부산</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="대구">대구</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경남">경남</a>
                        <a href="#" class="list-group-item list-group-item-action place-list-item"
                           data-place="경북">경북</a>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">선택</button>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="time-hm-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">시간</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="time-hm">출발 예 시간</label>
                        <input type="text" class="form-control" id="time-hm"
                               placeholder="24시간으로 적어주세요. ex) 08:00, 16:00" name="departure_time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectTimeHM()">선택</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="detail-plan-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">상세 출발지 & 도착지</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="detail-plan-hm">상세 출발지와 도착지를 적어주세요</label>
                        <input type="text" class="form-control" id="detail-plan-hm" placeholder="ex) 서울 성수역에서 대구 동성로까지"
                               name="detail_plan">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectdetailHM()">선택</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cost-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">요금</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cost-hm">요금 및 요구사항</label>
                        <input type="text" class="form-control" id="cost-hm" placeholder="10000원" name="fee">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectCostModal()">선택</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="memo-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">여정소개</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="memo-hm">간단한 여정소개를 해주세요!</label>
                        <input type="text" class="form-control" id="memo-hm" placeholder="좋아하는 음악을 들으면서 가요!"
                               name="memo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="selectMemoModal()">선택</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(function () {
        $('#submit-cancel').submit(function (e) {
            e.preventDefault();
            var input = confirm('회원가입 후 이용해주세요:)');
        });

        $('#detail-plan-hm').keypress(function (e) {
            e.preventDefault();
            if (e.keyCode == 13) {
                selectdetailHM();
            }
        });

        $('#cost-hm').keypress(function (e) {
            e.preventDefault();
            if (e.keyCode == 13) {
                selectCostModal();
            }
        });

        $('#memo-hm').keypress(function (e) {
            e.preventDefault();
            if (e.keyCode == 13) {
                selectMemoModal();
            }
        });

        $('#time-hm').keypress(function (e) {
            e.preventDefault();
            if (e.keyCode == 13) {
                selectTimeHM();
            }
        });

    });


</script>

{% endblock %}