{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block css %}

.main-button {
background: #ffffff;
padding: 5px 30px;
text-align: center;
width: 100%;
height: 90px;
max-width: 800px;
border-radius: 10px;
display: inline-block;
margin: 0px 0px 20px 0px;
transition: background 0.5s;
}

.time-card>#date, .time-hm-card>#time, .cost-card>#cost, .detail-plan-card>#detail-plan, .memo-card>#memo {
margin: 7px;
float: right;
}

h3 {
font-weight:bold;
padding: 15px 10px
}

{% endblock %}

{% block content %}

<div class="row"><h3>내가 등록한 장카</h3></div>
<!--{{ Drive.object.departure_date }}-->
{% for object in objects %}
    <div class="row">
        <div class="col">
            <div class="main-button" id="deliver-date">
                <div class="time-card"  onclick="launchDatePickerModal()" >
                    <span id="infolabel">
                        출발지 : {{object.departure_area}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 도착지 : {{ object.arrive_area }}<br>
                        <a href="{% url 'drive:detail' object.id %}">출발 일자 : {{ object.departure_date|date:"Y-m-d" }}</a>&nbsp&nbsp&nbsp&nbsp 출발 시각 : {{ object.departure_time }}
<!--                    여정 : {{ object.detail_plan }}-->
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}